footer
    .inner
        .column.left
            .content
                h3 About Us
                p.
                    Lambda's new and expanded Chelsea location represents a truly authentic <b>Greek</b> patisserie, featuring breakfasts of fresh croissants and steaming bowls of café.<br>
                    Lamda the best restaurant in town
        .column.center
            .content
                h3 Opening Hours
                p.
                    Mon-Thu: 7:00am-8:00pm <br>
                    Fri-Sun: 7:00am-10:00pm
            .icons
                a(href="#", title="title")
                    span.icon-amex
                a(href="#", title="title")
                    span.icon-paypal
                a(href="#", title="title")
                    span.icon-visa
                a(href="#", title="title")
                    span.icon-discover
        .column.right
            .content
                h3 Our Location
                p.
                    19th Paradise Street Sitia<br>
                    128 Meserole Avenue
            .icons
                a(href="#", title="title")
                    span.icon-facebook
                a(href="#", title="title")
                    span.icon-twitter
                a(href="#", title="title")
                    span.icon-youtube
                a(href="#", title="title")
                    span.icon-trello