section.menu_list#Menu
    .inner
        .column
            .dishes_list.appetisers
                h2 Appetisers
                .item
                    .name.
                        Tzatsiki
                    .price.
                        3.99$
                .composition.
                    Refreshing traditional cucumber and garlic yoghurt dip.
                
                .item
                    .name.
                        Aubergine Salad
                    .price.
                        5.50$
                .composition.
                    Pureed eggplant, garlic, green pepper and tomato dip.
                
                .item
                    .name.
                        Aubergine Salad
                    .price.
                        5.25$
                .composition.
                    Pureed eggplant, garlic, green pepper and tomato dip
            
            .dishes_list.salads
                h2 Salads
                .item
                    .name.
                        Olive Special
                    .price.
                        3.99$
                .composition.
                    Refreshing traditional cucumber and garlic yoghurt dip.
                
                .item
                    .name.
                        Greek Salad
                    .price.
                        5.50$
                .composition.
                    Pureed eggplant, garlic, green pepper and tomato dip.
                
                .item
                    .name.
                        Gusto Salad
                    .price.
                        5.25$
                .composition.
                    Pureed eggplant, garlic, green pepper and tomato dip
        .column
            .dishes_list.starters
                h2 Starters
                .item
                    .name.
                        Haloumi
                    .price.
                        3.99$
                .composition.
                    Refreshing traditional cucumber and garlic yoghurt dip.
                
                .item
                    .name.
                        Spinach Pie
                    .price.
                        5.50$
                .composition.
                    Pureed eggplant, garlic, green pepper and tomato dip.
            
            .dishes_list.main_dishes
                h2 Main Dishes
                .item
                    .name.
                        Cornish Mackerel
                    .price.
                        3.99$
                .composition.
                    Refreshing traditional cucumber and garlic yoghurt dip.
                
                .item
                    .name.
                        Roast Lamb
                    .price.
                        5.50$
                .composition.
                    Pureed eggplant, garlic, green pepper and tomato dip.
                
                .item
                    .name.
                        Fried Chicken
                    .price.
                        5.25$
                .composition.
                    Pureed eggplant, garlic, green pepper and tomato dip

                .item
                    .name.
                        Pastitsio
                    .price.
                        5.99$
                .composition.
                    Pureed eggplant, garlic, green pepper and tomato dip