main.menu_list#Menu
    .inner
        .column
            .dishes_list.appetisers
                h2 Appetisers
                .dish
                    .item
                        .name.
                            Tzatsiki
                        .price.
                            3.99$
                    .composition.
                        Refreshing traditional cucumber and garlic yoghurt dip.
                .dish
                    .item
                        .name.
                            Aubergine Salad
                        .price.
                            5.50$
                    .composition.
                        Pureed eggplant, garlic, green pepper and tomato dip.
                .dish
                    .item
                        .name.
                            Aubergine Salad
                        .price.
                            5.25$
                    .composition.
                        Pureed eggplant, garlic, green pepper and tomato dip
            
            .dishes_list.salads
                h2 Salads
                .dish
                    .item
                        .name.
                            Olive Special
                        .price.
                            3.99$
                    .composition.
                        Refreshing traditional cucumber and garlic yoghurt dip.
                .dish.special
                    .item
                        .name.
                            Greek Salad
                        .price.
                            5.50$
                    .composition.
                        Pureed eggplant, garlic, green pepper and tomato dip.
                .dish
                    .item
                        .name.
                            Gusto Salad
                        .price.
                            5.25$
                    .composition.
                        Pureed eggplant, garlic, green pepper and tomato dip
        .column
            .dishes_list.starters
                h2 Starters
                .dish
                    .item
                        .name.
                            Haloumi
                        .price.
                            3.99$
                    .composition.
                        Refreshing traditional cucumber and garlic yoghurt dip.
                .dish
                    .item
                        .name.
                            Spinach Pie
                        .price.
                            5.50$
                    .composition.
                        Pureed eggplant, garlic, green pepper and tomato dip.
            
            .dishes_list.main_dishes
                h2 Main Dishes
                .dish
                    .item
                        .name.
                            Cornish Mackerel
                        .price.
                            3.99$
                    .composition.
                        Refreshing traditional cucumber and garlic yoghurt dip.
                .dish.special
                    .item
                        .name.
                            Roast Lamb
                        .price.
                            5.50$
                    .composition.
                        Pureed eggplant, garlic, green pepper and tomato dip.
                .dish
                    .item
                        .name.
                            Fried Chicken
                        .price.
                            5.25$
                    .composition.
                        Pureed eggplant, garlic, green pepper and tomato dip
                .dish
                    .item
                        .name.
                            Pastitsio
                        .price.
                            5.99$
                    .composition.
                        Pureed eggplant, garlic, green pepper and tomato dip