section.promo#Promo
    .inner
        h2.
            the right ingredients <br>
            for the right food

        .links
            a(href="#book-a-table", title="book a table").button.black.
                book a table
            a(href="#set_the_menu", title="set the menu").button.white.
                set the menu