section.reviews#Reviews
    .inner
        .content
            h2.
                Guest Reviews
            p.
                If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers coming back for more. Perfect materials and freshly baked food, delicious Lambda cakes,  muffins, and gourmet coffees make us hard to resist! Stop in today and check us out!
            span.caption
                | - food inc, New York