html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Lambda made by gudvinga
    body
        include ./pug/header.pug
        include ./pug/promo.pug
        include ./pug/about.pug
        include ./pug/ingridients.pug
        include ./pug/menu_list.pug
        include ./pug/reviews.pug
        include ./pug/reservation.pug
        include ./pug/footer.pug
        


        


    
