@mixin devider($offsetY, $height, $width) {
    content: '';
    display: block;
    margin: 0 auto;
    height: $height;
    width: $width;
    margin-top: $offsetY;
}

@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:700|Lato|Yeseva+One');

@mixin font($font-fam, $size) {
    font-family: $font-fam;
    font-size: $size;
}

@mixin margin-pad() {
    margin: 0;
    padding: 0;
}

$yeseva: 'Yeseva One', cursive;
$lato: 'Lato', sans-serif;
$gentium: 'Gentium Book Basic', serif;

$orange: #c9a131;

@import './scss/fontello';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    background-color: rgb(176, 176, 176);
    @include font($lato, 1rem);
}

body {
    width: 1600px;
    margin: 0 auto;
}

h1, h2, h3 {
    @include font($yeseva, 1rem);
    font-weight: 400;
}

p {
    line-height: 1.5em;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 40px;
    width: 1250px;
    height: 100%;
}

ul {
    list-style: none;
    @include margin-pad();
}

li {
    @include margin-pad();
}

a, input, button {
    outline: none;
}

a {
    text-decoration: none;
}

.content {
    text-align: center;

    h2 {
        color: $orange;
        font-size: 2.25rem;
        margin: 0;
    }


    h2:after {
        @include devider(15px, 24px, 247px);
        background-image: url(./img/devider_orange.png);
    }
}

.round {
    border-radius: 50%;
    overflow: hidden;
}

@import './scss/header';
@import './scss/main_menu';
@import './scss/promo';
@import './scss/about';
@import './scss/ingredients';
@import './scss/menu_list';
@import './scss/reviews';
@import './scss/reservation';
@import './scss/footer';
