footer {
    height: 310px;
    background-color: #191919;
    color: white;
    box-sizing: border-box;
    padding: 55px 0;
    position: absolute;
    bottom: 0;
    width: 100%;

    .inner {
        align-items: flex-start;
        position: relative;

        h3 {
            font-size: 1.3125rem;
            margin: 0;
        }

        h3::after {
            @include devider(15px,19px,199px);;
            background-image: url(./img/devider_white_small.png)
        }

        .column {
            text-align: center;
            margin: 0 15px;
            flex-basis: 100 / 3 * 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        div:first-child {
            margin-left: 0;
        }

        div:last-child {
            margin-right: 0;
        }

        p {
            margin-top: 20px;
        }

        a {
            color: white;
            transition: all ease-out .5s;
        }

        a:hover {
            color: $orange;
            transition: all ease-out .3s;
        }

        .icons {
            span {
                margin: 0 6px;
            }
        }
        
    }
}