.main_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: -5px;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;

    a {
        display: block;
        position: relative;
        margin-left: 50px;
        color: white;
        @include font($gentium, 1.3125rem);
        transition: all ease-out .2s;
    }

    a:hover {
        //font-size: 1.6em;
        transition: all ease-out .2s;
        opacity: .7;
    }

    a:hover::after {
        content: '';
        display: block;
        background-color: rgba(255,255,255,.7);
        position: absolute;
        top: -48px;
        height: 3px;
        width: 100%;
    }

}

.social {
    a {
        margin-left: 10px;
        color: $orange;
        transition: all ease-out .5s;
    }

    a:hover {
        color: white;
        transition: all ease-out .5s;
    }
}